@import url(http://fonts.googleapis.com/css?family=Nova+Square);

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#ccc;
	color: #3C3C3C;orangetext
	
	font-family: tahoma, verdana, arial;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	 }
	 
	 
h3 {

font-weight:normal;
 font-family:"YanoneKaffeesatzRegular", "Segoe UI", Arial, Helvetica, sans-serif; 
 margin: 0px 0px 0px; 
 padding: 0px;
 font-size:26px; 
 line-height: 28px;
}
	 
.body1 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url('images/bg.jpg');
	background-repeat:repeat-x;
	color: #3C3C3C;
	font-family: tahoma, verdana, arial;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	width: 980px;
	margin:auto;
	 } 

 
td, th {
	font-family: tahoma, verdana, arial;
	font-size: 11px;
	color: #3C3C3C;
	line-height: 18px;
	font-weight: normal;
	text-align:justify;

}

INPUT, TEXTAREA, SELECT {
color:#000000; background:#EBF4F6; font-size:11px; font-family: tahoma,verdana,arial; border-color: #468C98; border-style: solid; border-width: 1px; height:16px }


.toplinks
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
	padding: 0px 12px 0px 12px;
}
.toplinks:hover
{
	font-family: verdana, tahoma, arial;
	font-size: 11px; 
	color: #fe8222;
	font-weight: bold; 
	text-decoration:none;
}
.toplinks: active
{
color: #fe8222;
}

.titlegreen
{
	font-family: 'Nova Square', verdana, tahoma, arial;
	font-size: 16px;
	color: #353434;
	font-weight: normal;
	text-decoration:none;
	text-align:left;
}
.orangetext
{
	font-family: verdana, tahoma, arial;
	font-size: 12px;
	color: #FF6633;
	font-weight: bold;
	text-decoration:none;
}

.white
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
}

.whitetitle
{
	font-family: verdana, tahoma, arial;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
	padding: 0px 0px 0px 12px;
	text-align:left;
}

.greay
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #484848;
	font-weight: bold;
	text-decoration:none;
}

.greay:hover
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #05717A;
	font-weight: bold;
	text-decoration:none;
}

.content
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #484848;
	font-weight: none;
	text-decoration:none;
}

.content:hover
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #05717A;
	font-weight: none;
	text-decoration: underline;
}


.footerlinks
{
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
}
.footerlinks:hover
{
	font-family: verdana, tahoma, arial;
	font-size: 11px; 
	color: #0E5661;
	font-weight: bold; 
	text-decoration:none;
}






#navlist {
	z-index:100001;
	position: absolute;
	margin-top: -16px;

}

#navlist ul {
    margin-left: 0;
	padding-left: 0;
	vertical-align:middle;
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;

}
#navlist ul li {
	padding:0;
	float:left;
	position:relative;
	display: inline;
	font-size:12px;
	height: 30px;
}
#navlist ul li a {
	display:block;
	line-height:1em;
	text-decoration:none;
	color:#fff;	
	margin-left: 16px; 
	
}
#navlist ul a#current {
	color:#fff;
}
#navlist ul li a:hover {
	color:#fff;
}
#navlist ul li:hover a,
#navlist ul li.hover a { 
	color:#fff;

}


#navlist ul ul {
	display:none; 
	position:absolute;
	top: 28px;
	left:-16px;
	float:left;
	right:auto; 
	width:10em; 
	z-index:100002;
}
#navlist ul ul li {
	left:auto;  
	margin: 0px; 
	clear:left;
	width:100%;
	z-index:100003;
}
#navlist ul ul li a,
#navlist ul li.active li a,
#navlist ul li:hover ul li a,
#navlist ul li.hover ul li a { 
	font-size:.8em;
	font-weight:normal; 
	background:#666;
	padding-top:5px;
	padding-left: 16px;
	height: 30px;
	color:#fff;
	line-height:1.4em; 
	border-bottom:1px solid ##008371; 
	border-bottom:1px solid ##008371; 
	float:left;
	text-align:left;
	width:100%;
	font-family:Arial, Helvetica, sans-serif, Verdana;
	font-size:12px;
}
#navlist ul ul li a:hover,
#navlist ul li.active ul li a:hover,
#navlist ul li:hover ul li a:hover,
#navlist ul li.hover ul li a:hover { 
	background:#ff9933;
	color:#fff;
	float:left;
}

#navlist ul ul.last {
	left:auto; 
	right:0; 
}
#navlist ul ul.last li {
	float:right;
	position:relative;
	right:.8em;
}

#navlist ul li:hover ul,
#navlist ul li.hover ul { 
	display:block; 
}